<!DOCTYPE html>
<html>
<head>
  <title><%= t("library_view.title_layout") %><%= " - #{@title}" if !@title.nil? %></title>
  <link href="http://<%= HOST_CV %>/stylesheet/general.css" media="all" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    "application" %>
  <% if @alto_contraste -%>
  <link rel="stylesheet" type="text/css" href="<%= PATH_SWF %>/audiobox-contrast.css" />
  <link rel="stylesheet" type="text/css" href="http://<%= HOST_CV %>/stylesheet/contrast.css" />
  <% end %>
  <style type="text/css">
  .amagar {
  left: -3000px;
  position: absolute;
  font-size: 1pt;
}
.ui-tabs .ui-tabs-hide {
     display: none;
}
</style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <% if @mostrar_tabs || @mostrarPlayer %>
  <script type="text/javascript" LANGUAGE="JavaScript">
$(document).ready(function(){
<% if @mostrar_tabs  %>
$("#tabs").tabs({
      selected: <%= @pestanya ? @pestanya   : 0 %>
      });
      <% end %>
      <% if @mostrarPlayer %>
  // Local copy of jQuery selectors, for performance.
  var my_jPlayer = $("#jquery_jplayer_1"),
  my_trackName = $("#jp_container_1 .track-name"),
my_playState = $("#jp_container_1 .play-state");

  // Some options
  var opt_play_first = false, // If true, will attempt to auto-play the default track on page loads. No effect on mobile devices, like iOS.
    opt_auto_play = true, // If true, when a track is selected, it will auto-play.
    opt_text_playing = "<%= t "jplayer.now_playing" %>", // Text when playing
    opt_text_selected = "<%= t "jplayer.track_selected" %>"; // Text when not playing

  // A flag to capture the first track
  var first_track = true;

  // Initialize the play state text
  my_playState.text(opt_text_selected);

  // Instance jPlayer
  my_jPlayer.jPlayer({
    ready: function () {
      $("td.file_name .track:first").click();
    },
    play: function(event) {
      my_playState.text(opt_text_playing);
    },
    pause: function(event) {
      my_playState.text(opt_text_selected);
    },
    ended: function(event) {
      my_playState.text(opt_text_selected);
    },
    swfPath: "<%= PATH_SWF  %>",
    solution: "flash, html",
    supplied: "mp3",
    wmode: "window"
  });

  // Create click handlers for the different tracks
  $("td.file_name .track").on('click', function(e) {
    my_trackName.text($(this).text());
    my_jPlayer.jPlayer("setMedia", {
      mp3: $(this).attr("href")
    });
    if((opt_play_first && first_track) || (opt_auto_play && !first_track)) {
      my_jPlayer.jPlayer("play");
    }
    first_track = false;
    $(this).blur();
    return false;
  });
<% end %>
      });
      </script>
      <% end %>


  <%= yield :head %>
</head>
<body class="audiobox popup">
<%= render(:partial => 'shared/header_beta') %>
  <div id="container">
    <%= render(:partial => 'shared/header_folder') %>
    <%= render(:partial => 'shared/menu') %>
    <%= render(:partial => 'shared/breadcrumbs') %>
    <div id="content" class="contingut">
      <%= yield %>
      </div>
    <%= render(:partial => 'shared/footer') %>
  </div>
  <% if @rem_true  %>
      <div id="files_and_folders_dialog" role=”region” aria-live=”polite” tabindex="-1"></div>
      <% end %>
</body>
</html>
